<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapKit-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8265CF1E0091DB0058BABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8265E31E0091DB0058BABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8265EE1E0091DB0058BABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
